<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plate.management.mapper.HistoryMapper">

    <resultMap type="com.plate.management.domain.VO.HistoryVO" id="HistoryResult">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="time" column="time"/>
        <result property="location" column="location"/>
        <result property="address" column="address"/>
        <result property="plate" column="plate"/>
    </resultMap>

    <sql id="selectHistoryVo">
        select h.id, n.plate, n.phone, n.owner, n.type, n.frame, h.time, h.location, h.address, h.deviceId
        from history h
                 join needPlate n on h.pid = n.pid
    </sql>

    <select id="selectHistoryList" parameterType="com.plate.management.domain.VO.HistoryVO" resultMap="HistoryResult">
        <include refid="selectHistoryVo"/>
        <where>
            <if test="plate != null and plate != ''"> and n.plate like concat('%', #{plate}, '%')</if>
            <if test="deviceId != null and deviceId != ''"> and h.deviceId like concat('%', #{deviceId}, '%')</if>
            <if test="frame != null and frame != ''"> and n.frame like concat('%', #{frame}, '%')</if>
            <if test="type != null and type != ''"> and n.type like concat('%', #{type}, '%')</if>
            <if test="owner != null and owner != ''"> and n.owner like concat('%', #{owner}, '%')</if>
            <if test="phone != null and phone != ''"> and n.phone like concat('%', #{phone}, '%')</if>
            <if test="time != null"> and date(h.time) = #{time}</if>
        </where>
        order by h.time desc
    </select>

    <select id="selectHistoryById" parameterType="Long" resultMap="HistoryResult">
        <include refid="selectHistoryVo"/>
        <where>
            h.id = #{id}
        </where>
    </select>

    <!-- Mapper XML -->
    <select id="selectDeviceIdsByUserId" resultType="java.lang.Long">
        SELECT deviceId FROM user_devices WHERE user_id = #{userId}
    </select>

    <select id="selectHistoryByDeviceIds" resultType="com.plate.management.domain.VO.HistoryVO">
        SELECT * FROM history WHERE deviceId IN
        <foreach item="deviceId" collection="list" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </select>
    <select id="selectHistoryByUserDevices" parameterType="long" resultType="com.plate.management.domain.VO.HistoryVO">
        SELECT h.id, n.plate, n.phone, n.owner, n.type, n.frame, h.time, h.location, h.address, h.deviceId
        FROM history h
                 JOIN user_devices ud ON h.deviceId = ud.deviceId
                 JOIN needPlate n ON h.pid = n.pid
        WHERE ud.user_id = #{userId}
    </select>


    <insert id="insertHistory" parameterType="History" useGeneratedKeys="true" keyProperty="id">
        insert into history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">pid,</if>
            <if test="time != null">time,</if>
            <if test="location != null">location,</if>
            <if test="address != null">address,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">#{pid},</if>
            <if test="time != null">#{time},</if>
            <if test="location != null">#{location},</if>
            <if test="address != null">#{address},</if>
         </trim>
    </insert>

    <update id="updateHistory" parameterType="History">
        update history
        <trim prefix="SET" suffixOverrides=",">
            <if test="pid != null">pid = #{pid},</if>
            <if test="time != null">time = #{time},</if>
            <if test="location != null">location = #{location},</if>
            <if test="address != null">address = #{address},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHistoryById" parameterType="Long">
        delete from history where id = #{id}
    </delete>

    <delete id="deleteHistoryByIds" parameterType="String">
        delete from history where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>