<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plate.management.mapper.NeedplateMapper">
    
    <resultMap type="Needplate" id="NeedplateResult">
        <result property="pid"    column="pid"    />
        <result property="plate"    column="plate"    />
        <result property="phone"    column="phone"    />
        <result property="owner"    column="owner"    />
        <result property="type"    column="type"    />
        <result property="frame"    column="frame"    />
    </resultMap>

    <resultMap id="NeedplateHistoryResult" type="Needplate" extends="NeedplateResult">
        <collection property="historyList" ofType="History" column="pid" select="selectHistoryList" />
    </resultMap>

    <resultMap type="History" id="HistoryResult">
        <result property="id"    column="id"    />
        <result property="pid"    column="pid"    />
        <result property="time"    column="time"    />
        <result property="location"    column="location"    />
        <result property="address"    column="address"    />
    </resultMap>

    <sql id="selectNeedplateVo">
        select pid, plate, phone, owner, type, frame from needPlate
    </sql>

    <select id="selectNeedplateList" parameterType="Needplate" resultMap="NeedplateResult">
        <include refid="selectNeedplateVo"/>
        <where>  
            <if test="plate != null  and plate != ''"> and plate like concat('%', #{plate}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="owner != null  and owner != ''"> and owner like concat('%', #{owner}, '%')</if>
            <if test="frame != null  and frame != ''"> and frame like concat('%', #{frame}, '%')</if>
        </where>
    </select>
    
    <select id="selectNeedplateByPid" parameterType="Long" resultMap="NeedplateHistoryResult">
        select pid, plate, phone, owner, type, frame
        from needPlate
        where pid = #{pid}
    </select>

    <!-- 新添加的方法 -->
    <select id="selectNeedplateByPlate" parameterType="String" resultType="Needplate">
        SELECT * FROM needPlate WHERE plate = #{plate}
    </select>

    <select id="selectHistoryList" resultMap="HistoryResult">
        select id, pid, time, location, address
        from history
        where pid = #{pid}
    </select>

    <insert id="insertNeedplate" parameterType="Needplate" useGeneratedKeys="true" keyProperty="pid">
        insert into needPlate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="plate != null and plate != ''">plate,</if>
            <if test="phone != null">phone,</if>
            <if test="owner != null">owner,</if>
            <if test="type != null">type,</if>
            <if test="frame != null">frame,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="plate != null and plate != ''">#{plate},</if>
            <if test="phone != null">#{phone},</if>
            <if test="owner != null">#{owner},</if>
            <if test="type != null">#{type},</if>
            <if test="frame != null">#{frame},</if>
         </trim>
    </insert>

    <update id="updateNeedplate" parameterType="Needplate">
        update needPlate
        <trim prefix="SET" suffixOverrides=",">
            <if test="plate != null and plate != ''">plate = #{plate},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="owner != null">owner = #{owner},</if>
            <if test="type != null">type = #{type},</if>
            <if test="frame != null">frame = #{frame},</if>
        </trim>
        where pid = #{pid}
    </update>

    <update id="updateNeedplateByPlate" parameterType="Needplate">
        UPDATE needPlate SET owner = #{owner}, phone = #{phone}, type = #{type}, frame = #{frame} WHERE plate = #{plate}
    </update>

    <delete id="deleteNeedplateByPid" parameterType="Long">
        delete from needPlate where pid = #{pid}
    </delete>

    <delete id="deleteNeedplateByPids" parameterType="String">
        delete from needPlate where pid in
        <foreach item="pid" collection="array" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </delete>
    
    <delete id="deleteHistoryByPids" parameterType="String">
        delete from history where pid in 
        <foreach item="pid" collection="array" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </delete>

    <delete id="deleteHistoryByPid" parameterType="Long">
        delete from history where pid = #{pid}
    </delete>

    <insert id="batchHistory">
        insert into history( id, pid, time, location, address) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.pid}, #{item.time}, #{item.location}, #{item.address})
        </foreach>
    </insert>
</mapper>